/* .sr-only {
visibility: hidden;
} */
.flex{display:flex}
.flex-row{flex-direction:row}
.flex-col{flex-direction:column}
.flex-1{flex:1}
.shrink{flex-shrink:1}
.grow{flex-grow:1}
.basis-auto{flex-basis:auto}
.gap-1{gap:1}
.gap-2{gap:2}
.gap-3{gap:3}
.gap-4{gap:4}
.items-center{align-items:center}
.items-end{align-items:flex-end}
.justify-center{justify-content:center}
.justify-end{justify-content:flex-end}
.justify-start{justify-content:flex-start}
.justify-between{justify-content:space-between}

.top-0{top:0}
.p-3{padding:3} 

.text-right{text-align:right}
.text-left{text-align:left}
.text-start{text-align:start}

/* .text-base{font-size:var(--text-base);line-height:var(--tw-leading,var(--text-base--line-height))} */
/* .text-sm{font-size:var(--text-sm);line-height:var(--tw-leading,var(--text-sm--line-height))} */
/* .text-message+.\[\.text-message\+\&\]\:mt-5{margin-top:calc(var(--spacing)*5)}tr:last-child */

.w-full{width:100%}
.h-full{height:100%}
.max-w-full{max-width:100%}
.max-w-70pc{max-width: 70%}
/* .max-w-thread-content{max-width: 40rem} */
.max-w-thread-content{max-width: 640px}
.min-w-0{min-width:0}
.min-h-8{min-height:8}

.mx-auto{margin-inline:auto}
.my-auto{margin-block:auto}
.mt-1\.5{margin-top:1.5}
.mt-5{margin-top:5}
.mx-yousaid{margin-left: 120px;}

.px-5{padding-inline:5}
.py-2\.5{padding-block:2.5}
.py-5{padding-block:5}

.rounded-3xl{border-radius:var(--radius-3xl)}

.relative{position:relative}
.sticky{position:sticky}

.overflow-hidden{overflow:hidden}
.overflow-auto{overflow:auto}
.overflow-y-auto{overflow-y:auto}

.font-semibold{font-weight: 500}

.break-words{overflow-wrap:break-word}
.whitespace-normal{white-space:normal}
.whitespace-pre-wrap{white-space:pre-wrap}

.empty\:hidden:empty{display:none}
.first\:pt-\[3px\]:first-child{padding-top:3px}         

.prose{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    line-height: 1.75;
}